.form--aligned {
    display: grid;
    grid-template-columns: max-content auto;
}
.form--aligned .form__group {
    display: contents;
}
.form__label,
.form__control,
.form__text {
    display: block;
}
